@import '../../styles/config.scss';

/* .container-task{
  border: 1px solid $lightGreyColor;
  padding:8px;
  margin-bottom:8px;
  border-radius:2px;
  background-color: $taskColor;
  font-size: 14px;
} */

//criado pelo card de allana
.task-card {
  background-color: $whiteColor;
  height: 11rem;
  border-radius: 5px;
  border-top: 3px solid $urgentPriorityRed;
  box-shadow: 1px 2px 3px rgb(122, 121, 121);
  margin-bottom: 1rem;
}

.task-card-header {
  height: 1.7rem;
  background-color: $headerFooterColor;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.categories-tag-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}


.task-card-priority-title {
  color: #FF002A;
}

.task-container {
  padding: 0.5rem 1rem 1.5rem 1rem;
}

.task-card-tags-container {
  border: 1px solid $borderColor;
  background-color: $whiteColor;
  border-radius: 10px;
  font-size: 11px;
  width: 4rem;
  text-align: center;
  color: $categoriesColor;
}

.task-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.task-card-prioority-icon {
  color: $urgentPriorityRed;
}

.task-details {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 55px;
  text-align: justify;
  margin-top: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.comments-container {
  background-color: $headerFooterColor;
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: -0.5rem;
  padding: 0.5rem;
  color: $categoriesColor;
  cursor: pointer;
  border-radius:  0 0 5px 5px;

  
}