@import '../../styles/config.scss';

.container-column{
  margin: 8px;
  border: 1px solid $lightGreyColor;
  border-radius: 5px;
  width:20rem;
  flex: 1;
  display:flex;
  flex-direction: column;
  background-color: $columnColor;
  
  @media screen and (min-width: $desktop) {
    height: 75vh;
  }
  
  h3 {
    padding: 10px;
    margin: 0 auto;
    font-size: 1.4em;
    color: $lightGreyColor;
  }
  
  .taskList {
    padding: 8px;
    
  }
}