$primaryColor: #FF4564;
$secondaryColor: #f2657c;
$columnColor: #5EBFBF;
$taskColor: #e0ffe0;
$lightGreyColor: #F0F5FF;
$mediumGreyColor: #7C7786;
$darkGreyColor: #575757;
$errorColor: #FF7563;
$lowPriorityBlue: #17ADFF;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$headerFooterColor: #FAF9F8;
$borderColor: #E5E5E5;
$categoriesColor: #636161;