@import './config.scss';

.kb-tooltip {
  position: relative;
  display: inline-block;
  &__content {
    visibility: hidden;
    width: 100px;
    background-color: $blackColor;
    color: $whiteColor;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
  }
  &:hover .kb-tooltip__content {
    visibility: visible;
  }
}
