.container{
  display: flex;
  background-color:rgb(232, 227, 227);
  padding: 10px;
  min-width: 99% !important;
  border-radius: 5px;
  margin-top: 10px;

  @media screen and (min-width: 1024px) {
    .container {
      height: 80vh;
    }
  }
}